<p-panel header="Documentos" >

  <form id="formDoc">

    <label>Tipo Documento: </label>
    <label>Tipo Documento: </label>

<!--    <p-dropdown-->
<!--      id="cbType"-->
<!--      [options]="types"-->
<!--      optionLabel="name"-->
<!--      placeholder="Selecione um tipo de Documento" />-->

    <p-button label="Selecionar" icon="pi pi-images" [rounded]="true" [outlined]="true" />

    <label>Descrição: </label>

    <textarea rows="5" cols="30" pInputTextarea></textarea>

  </form>

</p-panel>
